[*.cs]

# CS0649: Field 'NamedPipeServer.ClientConnected' is never assigned to, and will always have its default value null
dotnet_diagnostic.CS0649.severity = none

# RCS1194: Implement exception constructors.
dotnet_diagnostic.RCS1194.severity = none
